[{{internal_repo_rhel_iso_short}}]
name=rhel
baseurl=file://{{apache_repo_path}}/{{internal_repo_rhel_iso_short}}/
enabled=1
gpgcheck=0
[{{internal_repo_ose_iso_short}}]
name=rhel
baseurl=file://{{apache_repo_path}}/{{internal_repo_ose_iso_short}}/
enabled=1
gpgcheck=0
