{% if (groups[g_masters_group] | length) >0 %} 
{% for item in groups.oo_masters %}

{{hostvars[item].mgmt_network_ip}} {{item}} 
{{hostvars[item].public_network_ip}} {{item}}
{%- endfor %}
{% endif %} 

{% if (groups[g_nodes_group] | length) >0 %} 
{% for item in groups.oo_nodes %}

{{hostvars[item].mgmt_network_ip}} {{item}}
{{hostvars[item].public_network_ip}} {{item}}
{%- endfor %}
{% endif %} 

{% if (groups[g_etcds_group] | length) >0 %} 
{% for item in groups.oo_etcds %}

{{hostvars[item].mgmt_network_ip}} {{item}} 
{%- endfor %}
{% endif %} 

{% if (groups[g_infra] | length) >0 %} 
{% for item in groups.oo_infra %}

{{hostvars[item].mgmt_network_ip}} {{item}}
{{hostvars[item].public_network_ip}} {{item}}
{% endfor %}
{% endif %} 

{% if (groups[g_lb] | length) == 0 and (groups[g_masters_group] | length) > 1   %}
{{hostvars[groups.oo_ose3_install.0].openshift_master_cluster_vip}} {{hostvars[groups.oo_ose3_install.0].openshift_master_cluster_hostname}}
{% endif %}

{%- if (groups[g_lb] | length) >0 %}
{% for item in groups.oo_lb -%}

{{hostvars[item].mgmt_network_ip}} {{item}}
{{hostvars[item].public_network_ip}} {{item}}
{% endfor %}
{% endif %}


