NAME={{public_network_dev_name}}
DEVICE={{public_network_dev_name}}
ONBOOT=yes
NM_CONTROLLED=no
TYPE=Ethernet
BOOTPROTO=none
IPADDR={{public_network_ip}}
NETMASK=255.255.255.0
GATEWAY={{public_network_gw}}
