# Create an OSEv3 group that contains the masters and nodes groups
[OSEv3:children]
masters
nodes
{% if (groups[g_etcds_group]) is defined %}
etcd
{% endif %}
{% if (groups[g_lb]) is defined %}
lb
{% endif %}

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user=root

# If ansible_ssh_user is not root, ansible_sudo must be set to true
#ansible_sudo=true

deployment_type=openshift-enterprise

# uncomment the following to enable htpasswd authentication; defaults to DenyAllPasswordIdentityProvider
#openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/htpasswd'}]

# Native high availbility cluster method with optional load balancer.
# If no lb group is defined installer assumes that a load balancer has
# been preconfigured. For installation the value of
# openshift_master_cluster_hostname must resolve to the load balancer
# or to one or all of the masters defined in the inventory if no load
# balancer is present.
{%- if (groups[g_lb]) is defined %}
openshift_master_cluster_method={{hostvars[groups.oo_ose3_install.0].openshift_master_cluster_method}}
openshift_master_cluster_hostname={{hostvars[groups.oo_ose3_install.0].openshift_master_cluster_hostname}}
openshift_master_cluster_public_hostname={{hostvars[groups.oo_ose3_install.0].openshift_master_cluster_public_hostname}}
{% endif -%}

# override the default controller lease ttl
#osm_controller_lease_ttl=30
 
# host group for masters
[masters]
{% for item in groups.oo_masters %}
{{item}}
{% endfor %}

# host group for etcd
{% if (groups[g_etcds_group]) is defined %}
[etcd]
{% for item in groups.oo_etcds %}
{{item}} 
{% endfor %}
{% endif %}
 
# Specify load balancer host
{% if (groups[g_lb]) is defined %}

[lb]
{% for item in groups.oo_lb %}
{{item}}
{%- endfor %}
{% endif %}

# host group for nodes, includes region info
[nodes]
{% for item in groups.oo_masters %}
{% if hostvars[item].is_node == "true" %}
{{item}}  openshift_node_lables="{'region':'infra','zone':'default'}" openshift_schedulable=false
{% endif %}
{% endfor %}
{% for item in groups.oo_nodes %}
{{item}} openshift_node_lables="{{hostvars[item].openshift_node_labels}}"
{% endfor %}
