# Create an OSEv3 group that contains the masters and nodes groups
[OSEv3:children]
masters
nodes
etcd

# Set variables common for all OSEv3 hosts
[OSEv3:vars]
# SSH user, this user should allow ssh based auth without requiring a password
ansible_ssh_user=root

# If ansible_ssh_user is not root, ansible_sudo must be set to true
#ansible_sudo=true
product_type=openshift
deployment_type=openshift-enterprise

# uncomment the following to enable htpasswd authentication; defaults to DenyAllPasswordIdentityProvider
#openshift_master_identity_providers=[{'name': 'htpasswd_auth', 'login': 'true', 'challenge': 'true', 'kind': 'HTPasswdPasswordIdentityProvider', 'filename': '/etc/origin/htpasswd'}]

# Pacemaker high availability cluster method.
# Pacemaker HA environment must be able to self provision the
# configured VIP. For installation openshift_master_cluster_hostname
# must resolve to the configured VIP.
openshift_master_cluster_method=pacemaker
openshift_master_cluster_password={{hostvars[groups.oo_ose3_install.0].openshift_master_cluster_password}}
openshift_master_cluster_vip={{hostvars[groups.oo_ose3_install.0].openshift_master_cluster_vip}}
openshift_master_cluster_public_vip={{hostvars[groups.oo_ose3_install.0].openshift_master_cluster_public_vip}}
openshift_master_cluster_hostname={{hostvars[groups.oo_ose3_install.0].openshift_master_cluster_hostname}}
openshift_master_cluster_public_hostname={{hostvars[groups.oo_ose3_install.0].openshift_master_cluster_public_hostname}}

# override the default controller lease ttl
#osm_controller_lease_ttl=30

# host group for masters
[masters]
{% for item in groups.oo_masters %}
{{item}}
{% endfor %}

# host group for etcd
[etcd]
{% for item in groups.oo_etcds %}
{{item}}
{% endfor %}


# host group for nodes, includes region info
[nodes]
{% for item in groups.oo_masters %}
{% if hostvars[item].is_node == true %}
{{item}} openshift_node_lables="{{hostnvars[item].openshift_node_labels}}"
{% endif %}
{% endfor %}
{% for item in groups.oo_nodes %}
{{item}} openshift_node_lables="{{hostvars[item].openshift_node_labels}}"
{% endfor %}

 
